nav {
    display: flex;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    color: #3865A8;
    align-items: center;
    padding: 25px 0 25px 0;
    justify-content: space-between;
    background-color: #EEEEEE;
    position: fixed;
    z-index: 2;
}

.home-btn {
    display: flex;
    align-items: center;
    height: 35.48px;
}

.home-btn>svg>path {
    fill: #3865A8;
}

.home-btn>p {
    color: #3865A8;
    font-family: 'Capsuula', serif;
    font-size: 34px;
    letter-spacing: -1.04px;
    margin-left: 6px;
}

.central-btns {
    display: flex;
    gap: 30px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.arrow {
    stroke: #3865A8;
}

.drop-btn>svg {
    margin-left: 5px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.central-btns> a:hover {
    color: #2A4773;
}

.zap-btn {
    display: flex;
    align-items: center;
    color: #EEEEEE;
    font-weight: 900;
    background-color: #0CC042;
    border-radius: 6px;
    padding: 7px 19px 7px 19px;
}

.zap-btn>svg {
    margin-right: 10px;
}

.zap-btn>p {
    margin: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-btn {
    border: none;
    outline: none;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgba(89, 138, 197, 0.13);
    border-radius: 6px;
}

.dropdown-content>a {
    float: none;
    padding: 7px 19px;
    display: block;
    text-align: left;
}

.dropdown:hover .drop-btn {
    color: #2A4773;
}

.dropdown-content>a:hover {
    background-color: #3865A8;
    border-radius: 6px;
    color: #EEEEEE;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1080px) {

}