nav {
    position: fixed;
    z-index: 9;
}

nav>section:first-child {
    display: flex;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: #EEEEEE;
    align-items: center;
    justify-content: space-between;
}

.not-visible {
    display: none;
}

.central-btns-hamburguer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 17px;
    background: #EEEEEE;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 6px;
}

.central-btns-hamburguer>a {
    color: #3865A8;
    padding: 5px;
    margin: 0;
    border-radius: 6px 0 0 6px;
}

.central-btns-hamburguer>a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.nav-bg-blur {
    padding: 35px 100% 25px 100%;
}

.nav-bg-white {
    background: #EEEEEE;
    padding: 25px 100% 25px 100%;
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.1));
}

.blue-background-color {
    background-color: #3865A8;
}

.blue-fill {
    fill: #3865A8;
}

.blue-color {
    color: #3865A8;
}

.blue-stroke {
    stroke: #3865A8;
}

.white-background-color {
    background-color: #EEEEEE;
}

.white-fill {
    fill: #EEEEEE;
}

.white-color {
    color: #EEEEEE;
}

.white-stroke {
    stroke: #EEEEEE;
}

.home-btn {
    display: flex;
    align-items: center;
    height: 36px;
}

.home-btn>p {
    font-family: 'Capsuula', serif;
    font-size: 34px;
    letter-spacing: -1.04px;
    margin-left: 6px;
}

.central-btns {
    display: flex;
    gap: 30px;
}

.drop-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.drop-btn>svg {
    margin-left: 5px;
}

a {
    text-decoration: inherit;
}

.central-btns> a:hover {
    opacity: 50%;
}

.zap-btn {
    display: flex;
    align-items: center;
    color: #EEEEEE;
    font-weight: 900;
    background-color: #0CC042;
    border-radius: 6px;
    padding: 7px 19px 7px 19px;
    position: relative;
    overflow: hidden;
}

.zap-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0A9B3A;
    transition: 0.3s ease;
}

.zap-btn:hover::before {
    left: 0;
}

.zap-btn>svg {
    margin-right: 10px;
    z-index: 3;
}

.zap-btn>p {
    margin: 0;
    z-index: 3;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-btn {
    border: none;
    outline: none;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background: #EEEEEE;
    border-radius: 6px;
}

.dropdown-content>a {
    float: none;
    padding: 7px 19px;
    display: block;
    text-align: left;
}

.dropdown:hover .drop-btn {
    opacity: 50%;
}

.dropdown-content>a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#menu-hamburguer {
    display: none;
}

@media screen and (max-width: 1080px) {
    #menu-hamburguer {
        display: flex;
        flex-direction: column;
    }

    #bar1, #bar2 {
        margin-bottom: 5px;
    }

    #bar1, #bar2, #bar3 {
        width: 32px;
        height: 6px;
        border-radius: 6px;
    }

    .central-btns {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .zap-btn {
        padding: 8px 10px 8px 10px;
    }

    .zap-btn>p {
        display: none;
    }

    .zap-btn>svg {
        margin: 0;
    }
}